@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

header {
    background-image: url("/images/shenandoahbw.PNG");
    background-repeat: no-repeat;
}

h1 {
    color: midnightblue;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background: darkseagreen;
}

main {
    background-color: white;
    box-shadow: 3px 3px;
}

p {
    line-height: 1.4em;
}

header {
    padding: 0.5%;
}

nav {
    background-color: lightblue;
}

nav li{
    display: inline;
    padding: 10px;
}

main {
    margin: 15%;
}

footer, footer h3 {
    background: midnightblue;
    color: white;
}

a:link {

}

a:visited {

}
