@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 150%;
    background: darkseagreen;
}

p {
    line-height: 1.4em;
}

header {
    padding: 0.5%;
}

nav li{
    display: inline;
    padding: 10px;
}

main {
    margin: 15%;
}

footer, footer h3 {
    background: midnightblue;
    color: white;
}
